@import "~react-image-gallery/styles/css/image-gallery.css";
  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .post-img{
    width : 5.0rem;
    height : 7.0rem;
  }

  .grid-scroll-wrap{
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
    margin: 30px 0;
  }
  .Blog .scroll-image div {
    width:calc(33.333% - 10px);
    margin:0 15px 15px 0;
}
.Blog .scroll-image img:nth-of-type(3n),
.Blog .scroll-image img:last-child {
    margin-right:0;
}
@media screen and (max-width:480px){
  .Blog .scroll-image {
    flex-wrap:nowrap;
    justify-content:flex-start;
    position:relative;
    width:114%;
    left:-7%;
    padding:0 7%;
    overflow-y:hidden;
    overflow-x:auto;
    -ms-overflow-style:none;
    -webkit-overflow-scrolling:touch;
  }
  .Blog .scroll-image img {
    display:block;
    flex:0 0 auto;
    width:80%;
    margin:0 15px 0 0;
  }
  .Blog .scroll-image img:last-of-type{
    margin-right:0;
  }
  .Blog .scroll-image:after {
    content:'';
    display:block;
    flex:0 0 auto;
    align-self:stretch;
    width:7%;
  }
}